/** STYLING AND ICONS FOR CARDS **/

:root {
  --main-redCard-col: rgb(255, 73, 73);
  --box-redCard-col: red;
}
.corner {
  color: rgb(3, 189, 3);
  font-size: 250%;
  box-shadow: 0 0 7px rgb(3, 189, 3);
  text-shadow: 0 0 11px rgb(3, 189, 3);
  line-height: 40px;
}

.corner > .symbol::before {
  content: '☆';
}

.spades-a > .symbol::before {
  content: 'A ♠️';
}

.spades-2 > .symbol::before {
  content: '2 ♠️';
}

.spades-3 > .symbol::before {
  content: '3 ♠️';
}

.spades-4 > .symbol::before {
  content: '4 ♠️';
}

.spades-5 > .symbol::before {
  content: '5 ♠️';
}

.spades-6 > .symbol::before {
  content: '6 ♠️';
}

.spades-7 > .symbol::before {
  content: '7 ♠️';
}

.spades-8 > .symbol::before {
  content: '8 ♠️';
}

.spades-9 > .symbol::before {
  content: '9 ♠️';
}

.spades-10 > .symbol::before {
  content: '10 ♠️';
}

.spades-j > .symbol::before {
  content: 'J ♠️';
}

.spades-q > .symbol::before {
  content: 'Q ♠️';
}

.spades-k > .symbol::before {
  content: 'K ♠️';
}

.clubs-a > .symbol::before {
  content: 'A ♣️';
}

.clubs-2 > .symbol::before {
  content: '2 ♣️';
}

.clubs-3 > .symbol::before {
  content: '3 ♣️';
}

.clubs-4 > .symbol::before {
  content: '4 ♣️';
}

.clubs-5 > .symbol::before {
  content: '5 ♣️';
}

.clubs-6 > .symbol::before {
  content: '6 ♣️';
}

.clubs-7 > .symbol::before {
  content: '7 ♣️';
}

.clubs-8 > .symbol::before {
  content: '8 ♣️';
}

.clubs-9 > .symbol::before {
  content: '9 ♣️';
}

.clubs-10 > .symbol::before {
  content: '10 ♣️';
}

.clubs-j > .symbol::before {
  content: 'J ♣️';
}

.clubs-q > .symbol::before {
  content: 'Q ♣️';
}

.clubs-k > .symbol::before {
  content: 'K ♣️';
}

.hearts-a > .symbol::before {
  content: 'A ♥️';
}

.hearts-a {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.hearts-2 > .symbol::before {
  content: '2 ♥️';
}

.hearts-2 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.hearts-3 > .symbol::before {
  content: '3 ♥️';
}

.hearts-3 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 200px var(--main-redCard-col);
}

.hearts-4 > .symbol::before {
  content: '4 ♥️';
}

.hearts-4 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.hearts-5 > .symbol::before {
  content: '5 ♥️';
}

.hearts-5 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.hearts-6 > .symbol::before {
  content: '6 ♥️';
}

.hearts-6 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.hearts-7 > .symbol::before {
  content: '7 ♥️';
}

.hearts-7 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.hearts-8 > .symbol::before {
  content: '8 ♥️';
}

.hearts-8 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.hearts-9 > .symbol::before {
  content: '9 ♥️';
}

.hearts-9 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.hearts-10 > .symbol::before {
  content: '10 ♥️';
}

.hearts-10 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.hearts-j > .symbol::before {
  content: 'J ♥️';
}

.hearts-j {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.hearts-q > .symbol::before {
  content: 'Q ♥️';
}

.hearts-q {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.hearts-k > .symbol::before {
  content: 'K ♥️';
}

.hearts-k {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-a > .symbol::before {
  content: 'A ♦️';
}

.diamonds-a {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-2 > .symbol::before {
  content: '2 ♦️';
}

.diamonds-2 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-3 > .symbol::before {
  content: '3 ♦️';
}

.diamonds-3 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-4 > .symbol::before {
  content: '4 ♦️';
}

.diamonds-4 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-5 > .symbol::before {
  content: '5 ♦️';
}

.diamonds-5 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-6 > .symbol::before {
  content: '6 ♦️';
}

.diamonds-6 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-7 > .symbol::before {
  content: '7 ♦️';
}

.diamonds-7 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-8 > .symbol::before {
  content: '8 ♦️';
}

.diamonds-8 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-9 > .symbol::before {
  content: '9 ♦️';
}

.diamonds-9 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-10 > .symbol::before {
  content: '10 ♦️';
}

.diamonds-10 {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-j > .symbol::before {
  content: 'J ♦️';
}

.diamonds-j {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-q > .symbol::before {
  content: 'Q ♦️';
}

.diamonds-q {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}

.diamonds-k > .symbol::before {
  content: 'K ♦️';
}

.diamonds-k {
  color: var(--main-redCard-col);
  border-color: var(--main-redCard-col);
  box-shadow: 0 0 7px var(--main-redCard-col);
  text-shadow: 0 0 7px var(--box-redCard-col);
}
