html,
body,
#root,
#game-wrap {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#board-area {
  height: 100%;
  width: 50%;
  position: relative;
  float: left;
  background-color: black;
}

#board-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#play-area {
  height: 100%;
  width: 50%;
  float: left;
  text-align: center;
}

#play-title {
  position: relative;
  top: 200px;
  font-size: 2rem;
  letter-spacing: 5px;
}

#play-description {
  position: relative;
  top: 250px;
}

#deck-count {
  position: relative;
  top: 350px;
}

#player-hand {
  position: relative;
  top: 500px;
  display: flex;
  justify-content: center;
}

#play-now {
  position: relative;
  top: 600px;
  left: -65px;
  height: 75px;
  width: 200px;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 15px;
}

#play-now:hover {
  background-color: rgb(159, 114, 218);
}

#p1-col {
  position: relative;
  top: 350px;
}

#p2-col {
  position: relative;
  top: 350px;
  left: 200px;
}

.card {
  height: 83.25px;
  text-align: center;
  padding: 0;
  font-size: 400%;
  color: rgb(97, 191, 223);
}

.card:hover {
  color: yellowgreen;
}

.player-card {
  height: 110px;
  font-size: 600%;
  cursor: pointer;
}

.player-card:not(:first-child) {
  margin-left: -15px;
}

.player-card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.player-card:hover ~ .player-card {
  position: relative;
  left: 20px;
  transition: 0.4s ease-out;
}

.symbol {
  position: relative;
}

.circle:hover {
  opacity: 0.5;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: relative;
  top: -65px;
  margin: auto;
  visibility: hidden;
  border: 2px solid grey;
}

.circle:active {
  pointer-events: none;
}

.circle-rem {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: relative;
  top: -65px;
  margin: auto;
  visibility: hidden;
  border: 2px solid grey;
  cursor: pointer;
  pointer-events: auto;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.circle-rem:hover {
  opacity: 0.5;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 30px rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.p-one {
  background-color: green;
}

.p-two {
  background-color: purple;
}
