html,
body,
#root,
#game-wrap {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#board-area {
  height: 100%;
  width: 50%;
  position: relative;
  float: left;
  background-color: #100e17;
}

#board-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 96.5%;
  width: 96.5%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 15px;
}

#play-area {
  height: 100%;
  width: 50%;
  float: left;
  text-align: center;
  background-color: black;
  color: goldenrod;
}

.play-title {
  position: relative;
  top: 75px;
  font-size: 1.5rem;
  letter-spacing: 10px;
  font-weight: bold;
  color: yellow;
}

.won {
  font-size: 3rem;
}

.play-description {
  position: relative;
  top: 125px;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.two {
  top: 150px;
}

.jack-rule {
  position: relative;
  top: 200px;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.three {
  top: 225px;
}

#jack {
  color: red;
}

.extra-rules {
  position: relative;
  top: 275px;
  letter-spacing: 2px;
  line-height: 35px;
}

#deck-count {
  position: relative;
  top: 350px;
  letter-spacing: 2px;
}

.player-hand {
  position: relative;
  top: 400px;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.show {
  visibility: visible;
}

#toggle-hand {
  position: relative;
  top: 450px;
  height: 50px;
  width: 250px;
  font-size: 1.1rem;
  letter-spacing: 3px;
  cursor: pointer;
  border: solid rgb(3, 189, 3);
  background-color: black;
  color: rgb(3, 189, 3);
}

#toggle-hand:hover {
  color: rgb(0, 255, 0);
  border: solid 5px rgb(0, 255, 0);
  font-weight: bold;
}

#p1-points {
  position: relative;
  top: 250px;
  right: 200px;
  font-size: 1.5rem;
  font-weight: bold;
}

#p2-points {
  position: relative;
  top: 210px;
  left: 650px;
  width: 100px;
  font-size: 1.5rem;
  font-weight: bold;
}

#play-now {
  position: relative;
  top: 400px;
  left: -65px;
  height: 75px;
  width: 200px;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 15px;
  border: solid rgb(3, 189, 3);
  background-color: black;
  color: rgb(3, 189, 3);
}

#play-now:hover {
  color: rgb(0, 255, 0);
  border: solid 5px rgb(0, 255, 0);
  font-weight: bold;
}

#p1-col {
  position: relative;
  background-color: black;
  border: solid 1px rgb(3, 189, 3);
  cursor: pointer;
  top: 300px;
}

#p2-col {
  position: relative;
  background-color: black;
  border: solid 1px rgb(3, 189, 3);
  cursor: pointer;
  top: 300px;
  left: 200px;
}

.card {
  text-align: center;
  padding: 0;
  background-color: #17141d;
  border: 3px solid;
  border-radius: 10px;
  color: rgb(97, 191, 223);
  min-height: 52px;
  font-size: 125%;
  line-height: 55px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.card:hover {
  color: yellowgreen;
  border-color: yellowgreen;
  box-shadow: 0 0 11px rgb(33, 33, 33);
}

.player-card {
  height: 90px;
  width: 80px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  color: rgb(97, 191, 223);
  font-size: 150%;
  line-height: 90px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
  border-radius: 7px;
}

.player-card:hover {
  color: yellowgreen;
  border-color: yellowgreen;
  box-shadow: 0 0 11px rgb(33, 33, 33);
}

.player-card:not(:first-child) {
  margin-left: -15px;
}

.player-card:hover {
  transform: translateY(-15px);
  transition: 0.4s ease-out;
}

.player-card:hover ~ .player-card {
  position: relative;
  left: 20px;
  transition: 0.4s ease-out;
}

.symbol {
  height: 100%;
}

.circle:hover {
  opacity: 0.5;
}

.circle {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  position: relative;
  top: -52px;
  margin: auto;
  visibility: hidden;
  border: 2px solid grey;
}

.point:hover {
  opacity: 0.5;
}

.point {
  height: 30px;
  width: 30px;
  color: purple;
  border: 10px solid orange;
}

.point:active {
  pointer-events: none;
}

.circle:active {
  pointer-events: none;
}

.circle-rem {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: relative;
  top: -65px;
  margin: auto;
  visibility: hidden;
  border: 2px solid grey;
  cursor: pointer;
  pointer-events: auto;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.circle-rem:hover {
  opacity: 0.5;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 30px rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.p-one {
  background-color: green;
}

.p-two {
  background-color: purple;
}
